*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #548687;
    text-align: center;
}

.container{
    /* border: 2px solid black; */
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game
{
    /* border: 3px solid white; */
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
 height: 18vmin;
 width: 18vmin;
 border-radius: 10px;
 border: none;
 box-shadow: 2px 2px 16px cyan;
 font-size: 8vmin;
 background-color: rgb(0, 0, 0);
}

#reset-btn{
    padding: 16px;
    margin: 10px;
    border: 2px solid cyan;
    border-radius:10px;
    box-shadow: 2px 2px 8px cyan;
    font-size: 1.25rem;
    background-color: black;
    color: white;
}

#reset-btn:hover{
    background-color: cyan;
    color: black;
}

h1{
    color: black;
    margin: 10px;
    font-weight: bold;
    text-shadow: 2px 4px 7px rgb(29, 252, 233);
}

.h2{
    font-weight: bold;
    margin-bottom: 30px;
}

#newGame{
    padding: 16px;
    margin: 10px;
    border: 2px solid cyan;
    border-radius:10px;
    box-shadow: 2px 2px 8px cyan;
    font-size: 1.25rem;
    background-color: black;
    color: white;
}

#newGame:hover{
    background-color: cyan;
    color: black;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;

}